@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@font-face {
    font-family: 'Beauty';
    src: url('../font/Cassandra.ttf');
}

body {
    font-family: 'Hind', Arial, Helvetica, sans-serif;
}

/*** BLOCK COMPANY ***/
.block-company {
    background-color: #f1f1f1;
    min-height: 350px;
    padding: 35px 0;
    margin-top: 35px;
}
@media screen and (max-width: 600px) {
    .block-company {
        margin-top: 10px;
    }
    .block-company h1 {
        margin-top: 0;
    }
}
.block-company h3 {
    font-family: 'Courgette', cursive;
    padding-bottom: 20px;
}
.block-company-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

/*** BLOCK PRODUCTS ***/
.block-products {
    padding: 35px 0 15px 0;
}
.block-products-slider {
    min-height: 150px;
}
.block-products .product-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
 }
.block-products .product-subtitle {
    font-weight: 400;
    padding: 0;
    font-size: 14px;
    margin: 0;
}
.block-products .product-box {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 30px 20px 10px 20px;
}
.block-products .product-image {
    height: 220px;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
@media screen and (max-width: 600px) {
    .block-products .product-image {
        height: 280px;
        background-size: 80% auto;
    }
    .block-products .product-box {
        border: 0;
        padding: 10px 30px;
    }
}

/*** BLOCK NEWSLETTER ***/
.block-newsletter {
    background-color: #050505;
    border-bottom: 6px solid #ccc;
    border-top: 6px solid #ccc;
    height: 352px;
}
.block-newsletter .hero-bottom-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 99;
    opacity: 0.7;
}
.block-newsletter .hero-bottom-text:hover {
    opacity: 0.8;
}
.block-newsletter .social {
    color: #fff;
    font-weight: 600;
}
.block-newsletter .social:hover {
    text-decoration: none;
}
.hero-image-bottom-div {
    padding: 0;
}
.hero-image-bottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/layout/banner.png");
    height: 340px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.block-newsletter .form h3 {
    color: #fff;
    font-family: 'Courgette', cursive;
    font-size: 40px;
    font-weight: 700;
}
.block-newsletter .form p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.block-newsletter .form {
    padding: 15px 250px 30px 30px;
}
.block-newsletter .form form {
    padding-right: 30px;
    width: 100%
}
@media screen and (max-width: 600px) {
    .block-newsletter .form {
        padding: 5px 0 30px 30px;
    }
    .block-newsletter .form form {
        width: 90%
    }
}

.block-newsletter .form .form-control {
    border-radius: 8px;
}

.block-newsletter .form .form-submit {
    height: 45px;
    padding: 10px 25px;
    background-color: #9D6321;
    border: 1px solid #905b1e;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    transition: background-color 0.5s ease;
    margin-top: 15px;
}
.block-newsletter .form .form-submit:hover {
    background-color: #fff;
    color: #905b1e;
    transition: background-color 0.5s ease;
}

.gradient-bottom {
    background: #282828;
    /*background: -moz-linear-gradient(top, #c79248 0%, #b17739 100%);*/
    /*background: -webkit-linear-gradient(top, #c79248 0%, #b17739 100%);*/
    /*background: -o-linear-gradient(top, #c79248 0%, #b17739 100%);*/
    /*background: -ms-linear-gradient(top, #c79248 0%, #b17739 100%);*/
    /*background: linear-gradient(to bottom, #c79248 0%, #b17739 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c79248', endColorstr='#b17739', GradientType=0 );*/
}

/*** BLOCK SERVICES ***/
.block-services {
    padding: 50px 0 80px 0;
}
@media screen and (max-width: 600px) {
    .block-services {
        padding: 45px 15px 30px 15px;
    }
}
.block-services h2 {
    margin-bottom: 35px;
}
.block-services h3 {
    margin: 15px 0 0 0;
    color: #AC7834;
    margin-bottom: 25px;
    font-family: 'Courgette', cursive;
}
.block-services .video-div {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.block-services .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.block-services .btn-detail {
    margin-top: 25px;
}






